.announcement-section{
    .curvedBG{
        width: 100%;
        border-bottom-left-radius: 170px;
        left: 0;
        right: 0;
    }
}


.imageHolder{
    min-height: 300px;
}

.readMore{
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 25px;
}
.cornerDate{
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 25px;
}